.mastHead {
    text-align:center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;   
    
}
#eaten{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
#grill{
    text-align:center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.bottomButton{
    margin: 0 auto;
    float: left;    
}
#buttons {
    color:white;
    font-size: 12;
    border-radius: 5px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    background-color: rgba(9, 94, 173, 0.65);
   }